<div  id="config" class="wrapper"></div>
      <div class="container">
        <div class="row">
          <div class="col"></div>
          <div class="col config-title">Configuración</div>
          <div class="col"></div>
        </div>
        <div class="row">
          <div class="col">
            <label class="container-checkbox" style="margin-top: 2em;">
              <p>Escenario:</p>
              <img id="sceneMap" alt="Escenario de juego, ciudad" width="450" height="250" style="outline: auto;"/> 
            </label> 
            
          </div>
          <div class="col">
            <label class="container-checkbox" style="margin-top: 4em; ">Modo con tiempo.
              <input type="checkbox" disabled>
              <span class="checkmark" style="outline: auto;" ></span>
            </label>
            <label class="container-checkbox " style="margin-top: 1em;">Música.
              <input type="checkbox" checked="checked" id="config_music" >
              <span class="checkmark" style="outline: auto;"></span>
            </label>  
            <label class="container-checkbox" style="margin-top: 1em;">Efectos de sonido.
              <input type="checkbox" checked="checked" id="config_effect_sound">
              <span class="checkmark" style="outline: auto;"></span>
            </label> 
            <div class="right_bottom_config">
              <button type="button" class="btn btn-primary btn-config" onclick="location.href = '#'" > Volver</button>
            </div> 
          </div>
        </div>
      </div>

</div>