<div  id="config" class="wrapper"></div>
      <div class="container">
        <div class="row">
          <div class="col"></div>
          <div class="col" style="position: relative; font-size: 40px; margin-top:1em; font-weight: bold;">Configuración</div>
          <div class="col"></div>
        </div>
        <div class="row">
          <div class="col">
            <label class="container-checkbox" style="margin-top: 2em;">
              <p>Escenario:</p>
              <img id="sceneMap" alt="Escenario de juego, ciudad" width="450" height="250" style="outline: auto;"/> 
            </label> 
            
          </div>
          <div class="col">
            <label class="container-checkbox" style="margin-top: 4em; ">Modo con tiempo.
              <input type="checkbox" checked="checked">
              <span class="checkmark" style="outline: auto;" ></span>
            </label>
            <label class="container-checkbox " style="margin-top: 1em;">Musica
              <input type="checkbox" checked="checked">
              <span class="checkmark" style="outline: auto;"></span>
            </label>  
            <label class="container-checkbox" style="margin-top: 1em;">Efectos de sonido
              <input type="checkbox" checked="checked">
              <span class="checkmark" style="outline: auto;"></span>
            </label> 
            <div class="right_bottom_config">
              <button class="btn btn-primary " > Confirmar</button>
              <button class="btn btn-danger" onclick="location.href = ''" > Cancelar</button>
            </div> 
          </div>
        </div>
      </div>

    </div>