<div  class="wrapper" id="win_img" style="width: 1024px; height: 728px;">
  <div class="text-lose-game-red">
    No hemos conseguido el objetivo de limpiar la ciudad!
    <br>
    <div class="text-lose-game-blue">
     RECUERDA: limpiar la basura de la calle es muy importante para evitar que se tapen las bocas de tormenta,las alcantarillas, y otros conductos fluviales que quitan el agua de nuestras calles y no sufrir consecuencias como la inundación!</div> 
   </div>
  <div>
  <div class="right_bottom_config">
    <button type="button" class="btn btn-primary btn-config" onclick="location.href = '#'" > VOLVER</button>
  </div> 
</div>