<div id="introImage" class="wrapper" alt="Imagen de fondo a color, persona tirando basura a un cesto">
    <div class="btn-group-vertical center">
    <button onclick="location.href = '#/game'" type="button" class="text-center btn-lg btn-outline-dark mb-3 transparent uppercase btn_font" aria-label="Jugar">
    Jugar
    </button>
    <button type="button" class="text-center btn-lg btn-outline-dark mb-3 transparent uppercase btn_font" onclick="location.href = '#/tutorial/1'" aria-label="Tutorial" >
    Tutorial
    </button>
    <button type="button" class="text-center btn-lg btn-outline-dark mb-3 transparent uppercase btn_font" onclick="location.href = '#/config'" aria-label="Configuracion" >
    Configuracion
    </button>
    </div>
</div>