<div class="wrapper container" id="win_img">

  <div class="text-info-game" style="font-size:80px; margin-left: 4em; text-decoration: underline  #A79921;">
    Tutorial</div>
    
    
  
    <div style="margin-left:6.8em; width: 700px; font-size:40px;" class="text-info-game">

      <div class="container" style="height: 205px;
      width: 725px;
      background-color:#119800; 
      opacity: 1;
      top:205px;
      margin-left:2.8em; 
      ">
      Tipos de basura:
      <img class="imgTutorial" id="trash1"/>
      <img class="imgTutorial" id="trash2"/>
      <img class="imgTutorial" id="trash3"/>
      <img class="imgTutorial" id="trash4"/>
      <img class="imgTutorial" id="trash5"/>
      <img class="imgTutorial" id="trash6"/>
      <img class="imgTutorial" id="trash7"/>
      <img class="imgTutorial" id="trash8"/>
  </div>
      
      
      <br>
      <div class="container" style="height: 205px;
      width: 725px;
      background-color:#c92f0f; 
      opacity: 1;
      top:405px;
      margin-left:2.8em;
      ">Otros elementos:
                  <img class="imgTutorial" id="object1"/>
                  <img class="imgTutorial" id="object2"/>
                  <img class="imgTutorial" id="object3"/>
                  <img class="imgTutorial" id="object4"/>
                  <img class="imgTutorial" id="object5"/>
                  <img class="imgTutorial" id="object6"/>
                  <img class="imgTutorial" id="object7"/>
      </div> 
</div>
<div class="right_bottom_config">
  <button type="button" class="btn btn-dark btn-config" onclick="location.href = '#'" > SIGUIENTE <i class="fas fa-arrow-right"></i></button>
</div> 