<div class="wrapper container" id="win_img">

  <div class="text-info-game" style="font-size:80px; margin-left: 4em; text-decoration: underline  #A79921;">
    Tutorial</div>
  <div>
  <div style="margin-left:6.8em; width: 700px; font-size:40px;" class="text-info-game">
    Este juego consiste en limpiar la ciudad de los residuos que desechan las personas en la calle!
    <p>
    Al seleccionar objetos que aparecen a la calle:
    </p>
    <p>
    <span style="color:#5dff00">Basura</span>: sumaremos <span style="font-size:50px;color:#5dff00">+10</span> 
    </p>
    <p>
    <span style="color:red">Otros elementos</span>: restaremos <span style="font-size:50px;color:red">-10</span> 
    </p>
    Cuando el contador de puntos llegue a 50, ganaremos, pero si llega a -50 perderemos.
  </div>
</div>
</div>
<div class="right_bottom_config">
  <button type="button" class="btn btn-dark btn-config" onclick="location.href = '#/tutorial/2'" > SIGUIENTE <i class="fas fa-arrow-right"></i></button>
</div> 