<div  class="wrapper" id="win_img" style="width: 1024px; height: 762px;">
    <div class="container" style="height: 710px;
    width: 930px;
    background-color:black; 
    opacity: 0.8;
    "</div> </div>

      <div class="container" style="margin-top:2em;">
        
          <div class="text-info-game" style="font-size:80px; margin-left: 2em; text-decoration: underline  green;">
            <p>Tutorial</p>
        </div>
             
            
          
          
          <div style="margin-left:1.3em; width: 910px; font-size:40px;" class="text-info-game">

            <div class="container" style="height: 205px;
            width: 930px;
            background-color:#119800; 
            opacity: 1;
            top:205px;
            
            ">
            Tipos de basura:
            <img class="imgTutorial" id="trash1"><img>
            <img class="imgTutorial" id="trash2"><img>
            <img class="imgTutorial" id="trash3"><img>
            <img class="imgTutorial" id="trash4"><img>
            <img class="imgTutorial" id="trash5"><img>
            <img class="imgTutorial" id="trash6"><img>
            <img class="imgTutorial" id="trash7"><img>
            <img class="imgTutorial" id="trash8"><img>
        </div>
            
            
            <br>
            <div class="container" style="height: 205px;
            width: 930px;
            background-color:#c92f0f; 
            opacity: 1;
            top:405px;
            ">Otros elementos:
                        <img class="imgTutorial" id="object1"><img>
                        <img class="imgTutorial" id="object2"><img>
                        <img class="imgTutorial" id="object3"><img>
                        <img class="imgTutorial" id="object4"><img>
                        <img class="imgTutorial" id="object5"><img>
                        <img class="imgTutorial" id="object6"><img>
                        <img class="imgTutorial" id="object7"><img>
            </div> 
            
          </div>
        </div>
      </div>
      <div class="right_bottom_config">
        <button type="button" class="btn btn-success btn-config" onclick="location.href = '#'" > Entendido</button>
      </div> 
</div>