<div  class="wrapper" id="win_img" style="width: 1024px; height: 762px;">
    <div class="container" style="height: 710px;
    width: 930px;
    background-color:black; 
    opacity: 0.8;
    "</div> </div>

      <div class="container" style="margin-top:2em;">
        
          <div class="text-info-game" style="font-size:80px; margin-left: 2em; text-decoration: underline  green;">
            <p>Tutorial</p>
        </div>
             
            
          
          
          <p style="margin-left:1.3em; width: 910px; font-size:40px;" class="text-info-game">
            Este juego consiste en limpiar la ciudad de los residuos que desechan las personas en la calle!
            
            <br>
            Al seleccionar objetos que aparecen a la calle:
            <br>
            &nbsp;&nbsp;&nbsp;<span style="color:#5dff00">Basura</span>: sumaremos <span style="font-size:50px;color:#5dff00">+10</span> 
            
            &nbsp;&nbsp;&nbsp;<span style="color:red">Otros elementos</span>: restaremos <span style="font-size:50px;color:red">-10</span> 
            <br>
            Cuando el contador de puntos llegue a 50, ganaremos, pero si llega a -50 perderemos.
            <!-- <img class="imgTutorial" id="trash1"><img> -->
           </p>
        </div>
      </div>
      <div class="right_bottom_config">
        <button type="button" class="btn btn-success btn-config" onclick="location.href = '#/tutorial/2'" > Siguiente</button>
      </div> 
</div>